
@{
    ViewBag.Title = "гітари";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
</div>

<h1>список</h1>



@*@Html.Partial("_Buttons")


@Html.Partial("_Tables")


<div class="page-header">
    <h1>Thumbnails</h1>
</div>
<img src="~/Images/200x200.svg" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">


@Html.Partial("_Labels")


@Html.Partial("_Badges")


@Html.Partial("_Dropdown")


@Html.Partial("_Navs")


@Html.Partial("_Navbars")


@Html.Partial("_Alerts")


@Html.Partial("_PrgBars")


@Html.Partial("_List")


@Html.Partial("_Panels")


@Html.Partial("_Wells")


@Html.Partial("_Carousel")*@



